{% extends 'base.html' %}
{%  load crispy_forms_tags %} 
{% block content %}


<form style="width:50% ; margin : auto" method="post">
    <h1>{{type}} page</h1>
    {% csrf_token %}
    {% if form.non_field_errors %}
      {% for er in form.non_field_errors %}
        <p class="bg-danger text-white p-3">{{er}}</p>
      {% endfor %}
      {% endif %}
       <!-- {{form | crispy }} -->
      {% for fm in form%} 
        {{fm.label_tag}} 
        {{fm}} 
        {{fm.errors|striptags}} 
      {% endfor %}

<button class="btn btn-warning mt-2">Submit</button>
</form>

{% endblock %}